.hero-section{
    background: rgb(119,113,221);
    background: linear-gradient(0deg, rgba(119,113,221,1) 0%, rgba(40,40,214,1) 0%, rgba(0,212,255,1) 91%);
    color: white;
    min-height: 300px;
    padding-top: 45px;
}

footer{
    background-color: grey;
    color: white;
}